---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>astro-toolbar-ua example</title>
  </head>
  <body>
    <h1>UA Override Test</h1>
    <pre id="ua"></pre>
    <script>
      document.getElementById("ua")!.textContent = navigator.userAgent;
    </script>
  </body>
</html>
